@font-face {
  font-family: inconsolata;
  font-weight: 400;
  src: url(./fonts/inconsolata/static/Inconsolata-Regular.ttf);
}
@font-face {
  font-family: inconsolata;
  font-weight: 700;
  src: url(./fonts/inconsolata/static/Inconsolata-Bold.ttf);
}
@font-face {
  font-family: inter;
  font-weight: 400;
  src: url(./fonts/inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: inter;
  font-weight: 700;
  src: url(./fonts/inter/static/Inter-Bold.ttf);
}
@font-face {
  font-family: lora;
  font-weight: 400;
  src: url(./fonts/lora/static/Lora-Regular.ttf);
}
@font-face {
  font-family: lora;
  font-weight: 700;
  src: url(./fonts/lora/static/Lora-Bold.ttf);
}
@font-face {
  font-family: lora;
  font-style: italic;
  font-weight: 800;
  src: url(./fonts/lora/static/Lora-BoldItalic.ttf);
}

:root {
  --background-color: #ffffff;
  --search-background: #f4f4f4;
  --title-color: #2d2d2d;
  --text-color: #050505;

  --subtitle: #757575;
  --primary-color: #a445ed;
  --warning-color: #ff5252;

  --font-familly: inter;
}

/* https://www.youtube.com/watch?v=sy-rRtT84CQ&ab_channel=CodeComplete 
https://www.youtube.com/watch?v=Uz35Qiia84g&ab_channel=CodeBlessYou*/

[data-theme="dark"] {
  --background-color: #050505;
  --search-background: #1f1f1f;
  --text-color: #fff;
}
[data-theme="sans-serif"] {
  --font-familly: inter;
}
[data-theme="serif"] {
  --font-familly: Lora;
}
[data-theme="mono"] {
  --font-familly: inconsolata;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

body {
  box-sizing: border-box;
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

/* ********* TYPO **********   */

h1 {
  font-family: var(--font-familly);
  font-weight: 700;
  color: var(--title-color);
  font-size: 6.4rem;
  line-height: 7.7rem;
}
h2 {
  font-family: var(--font-familly);
  font-weight: 700;
  color: var(--text-color);
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-style: italic;
}
h3 {
  font-family: var(--font-familly);
  font-weight: 400;
  color: var(--text-color);
  font-size: 2rem;
  line-height: 2.4rem;
}

p,
li {
  font-family: var(--font-familly);
  font-weight: 400;
  color: var(--text-color);
  font-size: 1.8rem;
  line-height: 2.4rem;
}

h6 {
  font-family: var(--font-familly);
  font-weight: 400;
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-decoration: underline;
}

/* ********** General ********* */
.app-container {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.app {
  max-width: 74rem;
}

/* ********** Header ********* */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.display-preferences {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.selectOption,
.selectOption:focus {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
}

.searchBar {
  background-color: var(--search-background);
  height: 5rem;

  border-radius: 2rem;
  padding-inline: 3rem;
  display: flex;
  justify-content: space-between;
  border: solid 0px var(--primary-color);
}

.searchInput,
.searchInput:active,
.searchInput:focus {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  font-family: var(--font-familly);
  font-weight: 400;
  color: var(--text-color);
  font-size: 2rem;
  line-height: 2.4rem;
}

.searchBtn {
  transition: all 0.2s;
}

.searchBtn:hover {
  transform: scale(1.2);
}

.searchBar:focus-within {
  border: solid 1px var(--primary-color);
}

.searchBar:focus-within.searchError {
  border: solid 1px var(--warning-color);
}

.errorMessage {
  padding-left: 2.4rem;
  color: var(--warning-color);
}

/* ********** Main ********* */

.meanings-container {
}

.section {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
  margin-top: 4rem;
}

.phonetic {
  color: var(--primary-color);
}

.section hr {
  border: none;
  border-bottom: solid 1px var(--subtitle);
  width: 100%;
  opacity: 0.3;
}

.bulet-point {
  display: flex;
  justify-content: left;
  align-items: top;
  padding-left: 1.6rem;
  gap: 3.2rem;
  margin-bottom: 1rem;
}
.dot {
  font-size: 0.5rem;
}

.synonyms {
  color: var(--primary-color);
  font-weight: 700;
  padding-left: 2.4rem;
}

.definition {
  padding-bottom: 1.4rem;
}

.example {
  color: var(--subtitle);
  margin-bottom: 2rem;
}

/* ********** Footer ********* */

.source {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.fill {
  stroke: var(--primary-color);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ********** Utilities ********* */

.u-subtitle {
  color: var(--subtitle);
  margin-bottom: 2.4rem;
}

.u-grey {
  color: var(--subtitle);
}
